name: Staging deplyment

on:
    push:
        tags:
            - stage-*

    jobs:
        build:
            
            runs-on: ubuntu-latest
            
            steps:
                - name: Checkout files
                  uses: actions/checkout@v2
                  
                - name: Build and push Docker images
                  uses: docker/build-push-action@v1
                  with:
                      username: ${{secrets.REMOTE_PW}}
                      password: ${{secrets.REMOTE_USER}}
                      repository: albiek1/CA2
                      tag_with_ref: true
                      tag_with_sha: true
                      
            deploy:
                needs: build
                
                runs-on: ubuntu-latest
                
                steps:
                    - name: Checkout files
                      uses: actions/checkout@v2
                      
                    - name: Get tag name
                      uses: olegtarasov/et-tag@v2
                      
                    - name: Install doctl
                      uses: digitalocean/action-doctl@v2
                      with:
                          token: ${{secrets.DIGITALOCEAN_ACCESS_TOKEN}}
                          
                    - name: Provision Droplet ad deploy container
                      run: doctl compute droplet create "$GIT_TAG_NAME" --image docker-18-04 --size s-1vcpu-1gb --region fra1 --user-data-file deploy.sh --wait